<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CandyBugWinformDemo.Properties.Settings.ConnectionString"
            connectionString="Data Source=nhomsix.database.windows.net;Persist Security Info=True;User ID=nhom6"
            providerName="System.Data.SqlClient" />
        <add name="CandyBugWinformDemo.Properties.Settings.QLBKConnectionString"
            connectionString="Data Source=nhomsix.database.windows.net;Initial Catalog=QLBK;User ID=nhom6;Password=123456789aA"
            providerName="System.Data.SqlClient" />
        <add name="CandyBugWinformDemo.Properties.Settings.QLBKConnectionString1"
            connectionString="Data Source=nhomsix.database.windows.net;Initial Catalog=QLBK;User ID=pnt;Password=123456789aA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>